canvas{
    display: block;
    margin : 50px auto;
    box-shadow: -2px -2px 2px #EFEFEF, 5px 5px 5px #B9B9B9;
    position: absolute;
    top : 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.buttonGroups{
    list-style: none;
    width: 180px;

    position: absolute;
    top : 200px;
    left: calc(50% + 200px);
    right: 0px;
    bottom: 0px;
}

.buttonGroups li{
    padding-bottom: 10px;
}
